<div id="amount-selection">
  <div class="btns">
    <button class="btn" onclick="selectAmount('5')">Donate £5</button>
    <button class="btn" onclick="selectAmount('10')">Donate £10</button>
    <button class="btn" onclick="selectAmount('15')">Donate £15</button>
  </div>
  <label>
    Or enter your own amount:
    <input type="number" id="custom-amount" />
  </label>
  <button id="open-modal-btn" onclick="continueToDetails()">Continue</button>
  <p id="amount-message" class="message"></p>
</div>
