<!-- Модальне вікно -->
<div id="payment-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="payment-details" class="hidden">
      <h2 class="title">Select Payment Method</h2>
      <div class="buttons">
        <button
          class="gocardless"
          id="gocardless"
          onclick="setPaymentMethod('gocardless')"
        >
          <img src="./icons/gocardless-icon.svg" alt="GoCardless" />
          GoCardless
        </button>
        <button class="paypal" id="paypal" onclick="setPaymentMethod('paypal')">
          <img
            src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png"
            alt="PayPal Logo"
            style="border: none"
          />
        </button>
      </div>
      <form
        id="donation-form"
        class="hidden form"
        onsubmit="handleSubmit(event)"
      >
        <label for="email">Email:</label>
        <input type="email" id="email" required />

        <label for="given-name">Name:</label>
        <input type="text" id="given-name" required />

        <label for="family-name">Surname:</label>
        <input type="text" id="family-name" />

        <button type="submit">Make Donation</button>
      </form>
      <p id="payment-message" class="message"></p>
    </div>
  </div>
</div>
