@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  --font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --line-height: 24px;
  --font-weight: 400;
  --color: #242424;
  --bg-color: #f4f4f4;
  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  --font-smoothing-webkit: antialiased;
  --font-smoothing-moz: grayscale;
  --text-size-adjust: 100%;

  --container-bg-color: rgb(247, 244, 239);
  --main-bg-image: url('../img/fon3.png');
  --main-bg-color: rgba(252, 251, 251, 0.3);
  --main-title-font-size: 26px;

  --donate-button-bg-color: rgb(244, 32, 32);
  --donate-button-bg-color-hover: rgb(200, 0, 0);
  --text-color-primary: #0a0a0a;
  --text-color-secondary: #63aa8bd1;
  --input-border-color: #ccc;
  --input-border-color-focus: #007bff;
  --input-box-shadow-focus: rgba(0, 123, 255, 0.5);
  --modal-bg-color: #fefefe;
  --modal-border-color: #d9e2e9;
  --btn-bg-color: rgb(244, 240, 240);
  --btn-bg-color-hover: red;
  --btn-color: rgb(13, 12, 12);
  --btn-active-bg-color: red;
  --btn-active-color: white;
  --btn-continue-bg-color: #007bff;
  --btn-continue-bg-color-hover: #0056b3;
  --text-color-secondary: #333;
  --fadein-font-size: 22px;
  --fadein-font-weight: 600;
  --loader-border-color: #f3f3f3;
  --loader-border-top-color: #3498db;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color);
  background-color: var(--bg-color);
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--font-smoothing-moz);
  -webkit-text-size-adjust: var(--text-size-adjust);
}
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: min(100% - 30px, 1440px);
  margin-inline: auto;
  background-color: #f3e9dd;
}

/* .container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-color: #f3e9dd;
} */

h2 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-weight: 800;
  font-size: 22px;

  text-align: center;
  padding: 2px;
}
/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  h2 {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-weight: 800;
    font-size: 34px;
    text-align: center;
    color: #000;
  }
}
@media screen and (min-width: 1440px) {
  html {
    scroll-behavior: smooth;
  }
  .h2 {
    margin-bottom: 20px;
  }
  .container {
    max-width: 1440px;
  }
} */

/*header*/
.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Satisfy', cursive;
  font-size: 10px;
  font-weight: 600;
  margin: 20px 0 0 0;
  height: 50px;
  position: relative;
  background: linear-gradient(to right, #f3e9dd 50%, #ffda00 50%);
}

.name {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #082b1cd1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.logo {
  float: left;
  margin-left: 3px;
  margin-right: 3px;
}
.logo:hover {
  color: red;
}
nav {
  margin-left: auto;
}
.nav-links {
  list-style: none;
  padding: 0;
  gap: 30px;
}
.nav-links-main li {
  display: inline;
  margin-right: 20px;
  color: var(--text-color-primary);
  cursor: pointer;
  font-size: 18px;
}
.nav-links-main li:hover {
  color: #1a4f21;
}
.burger-menu {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
.overlay.show {
  display: block;
}
.mobile-nav {
  border-radius: 8px;
  animation: fadeIn 1s ease-in-out;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  background: rgb(215, 209, 200);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}
.mobile-nav.show {
  transform: translateX(0);
  display: block;
}
.nav-links li {
  list-style: none;
  margin-bottom: 10px;
}
.nav-links li a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s ease, color 0.3s ease;
}
.nav-links li a:hover {
  color: #1a4f21;
  transform: scale(1.05);
}
header img:hover {
  transform: scale(1.05);
}
.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
  .burger-menu {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
    transform: translateX(100%);
  }
  .overlay {
    display: none;
  }
  .name {
    padding-left: 35px;
    font-size: 22px;
  }
  .logo {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
}

/*main*/
.main {
  animation: fadeIn 1s ease-in-out;
  height: 195px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #f3e9dd 50%, #ffda00 50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.main img {
  width: 130px;
  height: auto;
  object-fit: cover;
  position: absolute;
  right: calc(50% - 130px);
  bottom: 0;
}

.main-about {
  font-size: 20px;
  color: #000;
  width: min(
    100%,
    50%
  ); /* Дозволяє тексту займати до 50% ширини, але не більше */
  text-align: left;
  padding: 0 10px; /* Відступи для зручного читання */
  box-sizing: border-box; /* Враховує padding у ширину елемента */
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.donate-button {
  padding: 0 20px;
  background-color: #1a4f21;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  height: 35px;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
  margin: 10px 10px;
}

.donate-button:hover {
  background-color: #ffda00;
}

.btn-text {
  display: none;
  font-size: 14px;
  font-weight: 500;
}

/* Адаптивність */
@media (min-width: 375px) {
  .main img {
    width: 165px;
    right: calc(50% - 165px); /* Розташування по лівому краю жовтої частини */
  }
}

@media (min-width: 768px) {
  .main {
    height: 280px;
  }

  .main img {
    width: 260px;
    right: calc(50% - 260px); /* Розташування по лівому краю жовтої частини */
    bottom: 0px;
  }

  .main-title {
    font-size: 34px;
    line-height: 1.2em;
    margin-bottom: 35px;
  }

  .btn-text {
    display: block;
  }
  .btn-container {
    display: grid;
  }
}

@media (min-width: 1440px) {
  .main img {
    width: 300px;
    right: calc(50% - 300px); /* Розташування по лівому краю жовтої частини */
    bottom: 0px;
  }
}

/*section-about*/
.about-container {
  position: relative;
}
.about-information {
  background-color: #f3e9dd;
  padding-bottom: 20px;
}

/*raised*/
.raised-info {
  background-color: #1a4f21;
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  gap: 6px;
  padding: 30px 10px;
  justify-content: center; /* Вирівнювання колонок по центру */
  align-items: center; /* Вирівнювання рядків по центру */
}
.raised-info-block {
  gap: 5px;
  display: flex;
  width: 90px;
  margin: 0 auto;
}

.raised-info-each {
  width: 90px;
}
.raised-icon {
  padding-top: 7px;
}
.count {
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 1.2em;
}

.count-text {
  color: whitesmoke;
  font-size: 10px;
  line-height: 1.2em;
}

@media (min-width: 768px) {
  .raised-icon {
    width: 62px;
    height: 52px;
  }
  .raised-info-block {
    gap: 8px;
    display: flex;
    width: 120px;
  }
  .count-text {
    color: whitesmoke;
    font-size: 16px;
  }
  .raised-info-block {
    gap: 5px;
    display: flex;
    width: 100px;
  }
  .count {
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 1.2em;
  }
}
@media (min-width: 1440px) {
  .raised-icon {
    width: 82px;
    height: 62px;
  }

  .count-text {
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.2em;
  }
  .raised-info-block {
    gap: 5px;
    display: flex;
    width: 130px;
  }
  .raised-info-each {
    width: 130px;
  }
  .count {
    font-size: 16px;
    font-weight: bold;
    color: white;
    line-height: 1.2em;
  }
}
.horizontal-line {
  width: 85%;
  height: 1px;
  background-color: #082b1cd1; /* Колір лінії */
  margin: auto; /* Відступи і вирівнювання по центру */
}
.about-title {
  padding: 20px 0 5px;
  margin-bottom: 10px;
}
.about-text {
  padding: 0 10px;
  text-align: justify;
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  max-height: 4.5em;
}

.read-more {
  display: inline-block;
  cursor: pointer;
  color: #1a4f21;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
}
.read-more:hover {
  color: #1a4f21;
  transform: scale(1.05);
}
.read-more:focus {
  outline: none;
}
.read-less {
  display: inline-block;
  cursor: pointer;
  color: #1a4f21;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
}

.about-img {
  padding: 30px 10px 10px;
  gap: 10px;
  background-color: #f3e9dd;
}

.about-img-descr {
  margin-bottom: 30px;
  text-align: center;
}

.about-pictures {
  display: none;
}
.last-picture {
  display: none;
}
.img-main {
  display: flex;
  justify-content: center;
  text-align: center;
}
.about-img-text {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .about-information {
    padding-top: 40px;
  }
  .about-title {
    margin-bottom: 20px;
    font-size: 34px;
  }
  .about-text {
    padding: 0 20px;
  }
  .about-pictures {
    gap: 10px;
    display: flex;
    height: 120px;
    width: 100%;
  }
  .about-pictures img {
    width: 160px;
    height: 140px;
  }
  .about-img {
    display: flex;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
  }
  .img-first {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
  }
  .img-second {
    position: absolute;
    bottom: 0;
    left: 25%;
  }
  .about-context-img {
    width: 50%;
  }
  .img-main {
    display: none;
  }
  .last-picture {
    width: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    object-fit: cover;
    max-height: 100%;
  }
  .about-img-descr {
    padding: 0 10px;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .about-pictures img {
    width: 220px;
    height: 170px;
  }
  .about-img {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .about-pictures img {
    width: 270px;
    height: 190px;
  }
  .about-img {
    height: 300px;
  }
}
@media (min-width: 1440px) {
  .about-img {
    height: 400px;
  }
  .about-img-text {
    margin-bottom: 20px;
  }
  .about-img-descr {
    font-size: 18px;
  }
  .about-pictures img {
    height: 250px;
    width: 300px;
    margin: 0 12px;
  }
  .about-img-text {
    font-size: 34px;
  }
}

/* event */
.events-container {
  background-color: #f3e9dd;
  height: 410px;
  padding: 10px 10px;
}
.events-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
}
.events-bgr {
  background-color: #1a4f21;
  height: 260px;
}
.events-img {
  width: 95%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  overflow: hidden;
}
.event-text {
  text-align: justify;
  padding: 10px 5px 10px;
}

.slides {
  height: 260px;
}

.slides img {
  cursor: pointer;
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  height: 90%;
  margin-bottom: 5px;
}

.lightbox {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.lightbox-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 900px;
  max-height: 80%;
  position: relative;
}

.lightbox .close {
  position: absolute;
  top: 40px; /* Трохи вище верхнього краю зображення */
  right: 10px; /* Трохи лівіше від краю зображення */
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;
}
.lightbox .close:hover,
.lightbox .close:focus {
  color: #bbb;
}
.lightbox-prev,
.lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.lightbox-prev {
  left: 16px;
}

.lightbox-next {
  right: 16px;
}

.lightbox-prev:hover,
.lightbox-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.event-tea-icon {
  display: flex;
  justify-content: center;
  text-align: center;
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* 
@media (min-width: 375px) {
  .events-img {
    max-width: 100%;
    max-height: 820px;
  }
} */

@media (min-width: 768px) {
  .about-title {
    margin-top: 20px;
  }
  .events-container {
    padding: 0;
    height: 500px;
    flex: 1;
    overflow-y: hidden;
  }
  .event-text {
    padding: 0 30px;
    margin-bottom: 40px;
  }
  .events-img {
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .events {
    display: flex;
    flex-direction: row;
    height: 500px;
  }

  .events-bgr {
    flex: 1;
    height: 500px;
  }

  .slider-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .slides {
    display: flex;
    flex-direction: column; /* Вертикальне розташування зображень */
    height: 750px;
    transition: transform 0.5s ease-in-out;
  }

  .slides img {
    width: 100%;
    object-fit: cover;
    height: 35%;
    margin-bottom: 10px;
  }

  .slides img:last-child {
    margin-bottom: 0; /* Прибираємо відступ для останнього зображення */
  }

  /* Прибираємо індикатори (крапочки) */
  .indicators {
    display: none;
  }
}

@media (min-width: 1440px) {
  .events-container {
    background-size: 25%, 25%;
    padding: 40px;
  }
  .events-bgr {
    height: 500px;
  }
  .slides img {
    height: 60%;
  }
}

/*loader*/
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/*team*/
.team {
  background-color: #f3e9dd;
}
.team-container {
  padding: 20px;
  position: relative;
}

.team-title {
  margin: 10px 0 20px;
}
.name-member {
  padding-top: 5px;
  font-size: 14px;
  line-height: 1.1em;
  font-weight: 600;
}
.role {
  font-size: 10px;
  padding-left: 10px;
  line-height: 1.1em;
}
.circles {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.yellow-circle {
  width: 70px;
  height: 70px;
  background-color: #ffda00;
  border-radius: 50%; /* Це створює коло */
  position: relative; /* Потрібно для розташування зображення всередині */
}
.green-circle {
  width: 70px;
  height: 70px;
  background-color: #1a4f21;
  border-radius: 50%; /* Це створює коло */
  position: relative; /* Потрібно для розташування зображення всередині */
}
.image-overlay {
  width: 70px; /* Встановлюємо ширину зображення такою ж, як у кола */
  height: 80px; /* Встановлюємо висоту зображення такою ж, як у кола */
  object-fit: cover; /* Забезпечує, що зображення покриває коло без спотворення */
  position: absolute;
  border-radius: 50px;
  top: -10%; /* Зміщує зображення на 30% вверх над колом */
  left: 0; /* Вирівнює зображення по лівому краю кола */
}

@media (min-width: 768px) {
  .yellow-circle {
    width: 100px;
    height: 100px;
  }
  .green-circle {
    width: 100px;
    height: 100px;
  }
  .image-overlay {
    width: 100px; /* Встановлюємо ширину зображення такою ж, як у кола */
    height: 120px; /* Встановлюємо висоту зображення такою ж, як у кола */
    top: -15%; /* Зміщує зображення на 30% вверх над колом */
  }
  .circles {
    gap: 100px;
  }
  .name-member {
    font-size: 16px;
  }
  .role {
    font-size: 12px;
  }
}
/* footer */
footer {
  background: #1a4f21;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}
.footer-title {
  text-decoration: underline;
  font-size: 30px;
  margin-bottom: 10px;
}
.footer-section {
  margin-bottom: 30px;
  padding: 0 20px;
  flex: 1;
}
.footer-section h3 {
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s, transform 0.3s;
}
.footer-icon svg {
  margin-right: 10px;
  fill: white;
  transition: fill 0.3s;
}
.footer-icon:hover {
  color: #ffda00;
  transform: translateY(-3px);
}
.footer-icon:hover svg {
  fill: #4a90e2;
}
.footer-bottom {
  text-align: center;
  padding: 20px 0 0;
  margin-top: 40px;
  border-top: 1px solid #4a90e2;
}
.footer-bottom p {
  font-size: 14px;
  margin: 0;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-width: 1000px;
    align-items: baseline;
  }
  .footer-section {
    padding: 0 15px;
    margin-bottom: 0;
  }
  .footer-section h3 {
    text-align: left;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 60px 40px;
  }
  .footer-container {
    max-width: 1200px;
    padding: 0 40px;
  }
  .footer-section h3 {
    font-size: 18px;
  }
  .footer-section p {
    font-size: 16px;
  }
  .footer-bottom p {
    font-size: 16px;
  }
}

/*modal*/
.btns {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  gap: 5px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 3px 8px;
  min-width: 115px;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.btn.active {
  background-color: #1a4f21;
  color: var(--btn-active-color);
  transform: scale(1.1);
}
.btn:hover {
  opacity: 0.8;
  background-color: #1a4f21;
  color: var(--btn-active-color);
}
.btn-continue {
  border-radius: 4px;
  background-color: #ffda00;
  font-weight: 500;
  height: 35px;
  color: white;
  border: none;
  cursor: pointer;
}
.btn-continue:hover {
  background-color: #1a4f21;
}
.input-amount {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  height: 35px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.input-amount:focus {
  border-color: var(--input-border-color-focus);
  box-shadow: 0 0 5px var(--input-box-shadow-focus);
  outline: none;
}
.input-amount:hover {
  border-color: #999;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.paypal {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  background-color: #ffc439;
  color: #000;
  cursor: pointer;
}
.gocardless {
  width: 150px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #0070ba;
  color: #f1f252;
  cursor: pointer;
}
.gocardless img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
}
.modal-content {
  background-color: var(--modal-bg-color);
  margin: 20% auto;
  padding: 25px;
  border: 4px solid var(--modal-border-color);
  width: 450px;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
}
.close {
  color: var(--text-color-primary);
  float: right;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
.amount-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: var(--fadein-font-weight);
  font-size: var(--fadein-font-size);
  opacity: 0;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(148, 164, 186, 0.1);
}
.form label {
  font-size: 1rem;
  margin-bottom: 8px;
  color: var(--text-color-secondary);
}
.form input,
.form button {
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.form input {
  margin-bottom: 15px;
  border: 1px solid #ddd;
}
.form input:focus {
  border-color: var(--input-border-color-focus);
  outline: none;
}
.form button {
  border: none;
  background-color: var(--btn-continue-bg-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form button:hover {
  background-color: var(--btn-continue-bg-color-hover);
}
.hidden {
  display: none;
}
.complete-donation-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
